export(rp_assign_next)
export(rp_launch_app)
export(rp_minimization_session)
export(rp_randomize)
export(rp_verify_reproducibility)
S3method(print,rp_randomization)
S3method(summary,rp_randomization)
importFrom(graphics,par)
importFrom(graphics,plot.new)
importFrom(graphics,rect)
importFrom(graphics,segments)
importFrom(graphics,text)
